@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer{
  background-color: white;
}
*:focus {
  outline: none;
}

.pb-16{
  padding-bottom: 100px;
}

.search .wrapper:first-child {
  border: 2px solid orange;
  border-color: #FF770F ;
  border-radius: 1rem;
}

.search .wrapper:first-child svg {
  fill: #FF770F !important;
}
